.avai {
    background-color: #00b7ff;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
  }

.avai:hover {
    background-color: #249fcf
}
  
.figueira {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
  }

.figueira:hover {
    background-color: #585858
}
  